* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 576px) {

    .logo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    header {
        grid-area: header;
        text-align: center;
        background-color: #742306;
        margin-bottom: none;
        overflow:hidden;
    }

    ul {
        background-color: #742306;
        list-style-type: none;
        overflow: hidden;
        margin: 0;
    }
    
    li {
        padding: 10px;
        list-style-type: none;
        position: relative;
        overflow:hidden;
        text-align: center;
    } 

    div ul li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        overflow: hidden;
    }
    
    footer img {
        width: 75px;
        height: 75px;
        margin: 10px;
        display: block;
        text-align: center;
    }

    footer{
        background-color: #99EDCC;
        display: inline-block;
    }

    footer ul{
        background-color: #99EDCC;
        text-align: center;
        /* overflow: hidden; */
    }

    footer li{
        display: inline-block;
    }

    footer h2{
        text-align: center;
    }

    li a:hover {
        background-color: #AE3509;
        color: white;
    }

    main {
        grid-area: main;
        background-color: #2F2E38;
        color: white;
        text-align: center;
        display: inline-block;
    }

    a {
        display: block;
        text-decoration: underline;
        color: #99EDCC;
        text-align: center;
    }

    button{
        margin-bottom: 20px;
    }

    div.navIzq{
        background-color: #742306;
    }  
    
    div.navDer{
        background-color: #742306;
    }

    .navIzq ul, .navDer ul{
        display: flex;
        justify-content: space-around;
        background-color: #742306;
    }

    .primeraRed{
        --animate-duration: 1s;
    }

    .segundaRed{
        --animate-duration: 2s;
    }

    .terceraRed{
        --animate-duration: 3s;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {

    header {
        grid-area: header;
        text-align: center;
        background-color: #742306;
        margin-bottom: none;
        overflow:hidden;
    }
    
    .logo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    ul {
        background-color: #742306;
        list-style-type: none;
        overflow: hidden;
        margin: 0px;
        padding:0px;
    }
    
    li {
        padding: 10px;
        list-style-type: none;
        position: relative;
        overflow:hidden;
        margin: none;
    } 
    
    div ul li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        overflow: hidden;
    }
    
    li a:hover {
        background-color: #AE3509;
        color: white;
    }
    
    main {
        grid-area: main;
        background-color: #2F2E38;
        color: white;
        text-align: center;
        display: inline-block;
    }
    
    footer{
        background-color: #99EDCC;
        grid-area: footer;
        display: inline-block;
        text-align: center;
    }
    
    footer ul{
        background-color: #99EDCC;
        text-align: center;
        display: inline-block;
        /* overflow: hidden; */
    }

    footer ul li{
        background-color: #99EDCC;
        text-align: center;
        display: inline-block;
        /* overflow: hidden; */
    }

    footer img {
        width: 75px;
        height: 75px;
        margin: 10px;
        display: block;
    }
    
    p {
        display: inline-block;
        width: 400px;
        height: 200px;
        margin: none;
    }
    
    section img {
        display: block;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: none;
        margin-bottom: 30px;
        border-radius: 6px;
    }
    
    a {
        display: block;
        text-decoration: underline;
        color: #99EDCC;
        text-align: center;
    }
    
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    div.navIzq{
        grid-area: navIzq;
        background-color: #742306;
        text-align: center;
    }  
    
    div.navDer{
        grid-area: navDer;
        background-color: #742306;
        text-align: center;
    }

    .navIzq ul, .navDer ul{
        display: flex;
        justify-content: space-around;
        background-color: #742306;
    }

    div.footer {
        grid-area: footer;
    }

    form {
        margin-left:auto;
        margin-right:auto;
        margin-top:none;
    }

    button{
        margin-bottom: 20px;
    }

    .primeraRed{
        --animate-duration: 1s;
    }

    .segundaRed{
        --animate-duration: 2s;
    }

    .terceraRed{
        --animate-duration: 3s;
    }

}

@media screen and (min-width: 992px) {

    .gridContainer {
        display: grid;
        grid-template-areas: 
        "navIzq navIzq header navDer navDer"
        "main main main main main"
        "footer footer footer footer footer";
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto;
    }
    
    .logo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    
    header {
        grid-area: header;
        text-align: center;
        background-color: #742306;
        overflow:hidden;
    }

    ul {
        background-color: #742306;
        list-style-type: none;
        overflow: hidden;
    }
    
    li {
        padding: 10px;
        list-style-type: none;
        position: relative;
        top: 20px;
        overflow:hidden;
    } 
    
    div ul li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        overflow: hidden;
    }
    
    li a:hover {
        background-color: #AE3509;
        color: white;
    }
    
    main {
        grid-area: main;
        background-color: #2F2E38;
        color: white;
        text-align: center;
        display: inline-block;
    }
    
    footer{
        background-color: #99EDCC;
        grid-area: footer;
        display: inline-block;
        text-align: center;
    }
    
    footer ul{
        background-color: #99EDCC;
        text-align: center;
        display: inline-block;
        /* overflow: hidden; */
    }

    footer ul li{
        background-color: #99EDCC;
        display: inline-block;
        /* overflow: hidden; */
    }

    footer img {
        width: 75px;
        height: 75px;
        margin: 10px;
        display: block;
    }
    
    p {
        display: inline-block;
        width: 400px;
        height: 200px;
        margin: none;
    }
    
    section img {
        display: block;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: none;
        margin-bottom: 30px;
        border-radius: 6px;
    }
    
    a {
        display: block;
        text-decoration: underline;
        color: #99EDCC;
        text-align: center;
    }
    
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    div.navIzq{
        grid-area: navIzq;
        background-color: #742306;
    }  
    
    div.navDer{
        grid-area: navDer;
        background-color: #742306;
    }

    .navIzq ul, .navDer ul{
        display: flex;
        justify-content: space-around;
    }

    div.footer {
        grid-area: footer;
    }

    form {
        margin-left:auto;
        margin-right:auto;
        margin-top:none;
    }

    button{
        margin-bottom: 20px;
    }

    .primeraRed{
        --animate-duration: 1s;
    }

    .segundaRed{
        --animate-duration: 2s;
    }

    .terceraRed{
        --animate-duration: 3s;
    }
}