.gridContainer {
    display: grid;
    grid-template-areas: 
    "navIzq navIzq header navDer navDer"
    "main main main main main"
    "footer footer footer footer footer";
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
}